footer {
    text-align: center;
    padding: 30px;
    background-color: #e4e4e4;
    margin-top: auto;
    font-family: sans-serif;
    overflow-x: hidden;
 
  }
a{
    text-decoration: none;
}
/* Styling scroll button */
.top-arrow {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #00f;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  background-color: #f1f1f1d0;
  padding: 0px 8px;
  color: gray;
  border-radius: 5px;
}

.top-arrow:hover {
  opacity: 0.7;
}

.my-name {
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: rgb(0, 139, 226);
    background: linear-gradient(90deg, #52b9f5, #0075e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.3s ease;
    cursor: pointer;
}
  
.my-name:hover {
    transform: scale(1.1);
}

.about-project{
  text-align: left;
  width: 90vw;
  margin: auto;
  padding: 20px;
}
.about-project h3{
  color: rgb(85, 84, 84);
}
.sub-heading span{
  font-size: 1rem;
  color: gray;
}
.points{
  font-size: 0.9rem;
  background-color: gray;
  margin: 10px;
  padding: 6px;
  border-radius: 10px;
  width: max-content;
}
.green-highlight{
  color: rgb(102, 160, 102);
  background-color: rgb(182, 243, 182);
}
.red-highlight{
  background-color: rgb(240, 156, 156);
  color: rgb(173, 88, 88);
}
/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
  .points{
    width: 78vw;
  }
}